#body{min-width:1000px;}
#tou{
	padding-left: 50px;
	background-color: white;
	height: 55px;
	padding-bottom: 5px;
}
#tu,#zi{float: left;font-size: 20px;
}
.daohang{text-decoration: none;
	float: right;color:gray;
	padding:10px 35px 0 0;

}
#daohang1>div>a:hover{color: red;}
.daohang2{float: right;}
.daohang8{
	text-decoration: none;
	float: right;color:red;
	padding:10px 35px 0 0;
}
#beijing1{
	height: 500px;
	background:url(da.jpg)no-repeat;
	background-size: 100%;
	padding-left: 350px;
	padding-top: 150px;
}
#p1,#p2,#bottom{color: white;}
#p1{ font-size: 60px;
	font-weight: normal;
}
#p2{ font-size: 20px;
	font-weight: lighter;
}
#bottom{font-size: 30px;
	background-color:	#DC143C;
	text-align: center;
	font-weight: lighter;
	padding: 10px;
	text-decoration: none;
}
#beijing1>div{float: left;
	padding: 0 110px 0 110px;
}
#beijing2{height: 100px;}
#tubiao1{position: absolute;left: 170px;}
#tubiao2{position: relative;left: 500px;position: absolute;}
#tubiao3{position: relative;left: 830px;position: absolute;}
#tubiao4{position: relative;left: 1150px;position: absolute;}
.p31{position: absolute;left: 140px;}
.p32{position: relative;left: 470px;position: absolute;}
.p33{position: relative;left: 800px;position: absolute;}
.p34{position: relative;left: 1120px;position: absolute;}
#beijing3{margin-bottom: 80px;}
#beijing3>div>p{text-align: center;color: #999;}
#beijing4{background-color:#F5F5F5;
	height: 380px;
	padding-top: 40px;
	text-align: center;
}
#beijing4>p{color: 	#C0C0C0;font-size: 60px;}
#beijing5{
	height: 400px;
	background:url(a.jpg)no-repeat;
	background-size: 100%;
	margin-top: -5px;
	padding-top: 2px;
}
#beijing5>p{color: white;font-size: 25px;
	text-align: center;
}
#beijing5>p>b{color: white;font-size: 15px;
	text-align: center;
}
.xuanze1{ appearance:none;
	-moz-appearance:none;    /*for firefox*/       
-webkit-appearance:none;    /*for chrome*/  
	width: 200px;height: 30px; padding-left: 15px; margin-left: 100px;
	border: solid 1px red; border-radius: 0px;
	 background: url(aixin.png)no-repeat white right;
	 background-size: 15%; color: #999;
}
.xuanze2{ appearance:none;
	-moz-appearance:none;    /*for firefox*/       
-webkit-appearance:none;    /*for chrome*/  
	width: 200px;height: 30px; padding-left: 15px; margin-left: 100px;
	border: solid 1px red; border-radius: 0px;
	 background: url(aixin.png)no-repeat white center;
	 background-size: 45%; color: black;
}
#beijing6{background-color:#F5F5F5;
	height: 600px;
	padding-top:  100px;
	text-align: center;
}
#charu{width: 200px;
}
.hua{
	height: 400px;
	float: left;
	border: 5px solid white;
	margin:40px;
	padding: 10px;
}
.hua>img{padding:1px;
	border: 3px solid white;}
.hua>p>b{font-size: 20px;}
#shanghai{font-size: 30px;}
#beijing7{height: 600px;}
#time{float: left;padding-top: 50px;
	height: 600px;width: 1000px;
	background: url(pengyuyan.jpg)no-repeat;
	background-size: 100% 100%;
	position: absolute;
}
#time>p>a{font-size: 50px;}
#time>p{color: white;font-size:30px;text-align: center; }
#time>p>b{font-size: 200px;}
#gengduo{position: absolute;
	left: 1030px;
	width: 350px;
	padding-top: 200px ;
	padding-right: 30px;
	text-align: center;

}
#gengduo>p{font-size: 10px;color: #999;}
#gengduo>p>b{font-size: 30px;color: black;}
#gengduo>p>b>b{color: red;}
#gengduoxiangqing{text-decoration: none;
	color: 	#F08080;padding:5px 20px 5px 20px;
	border: 1px solid #F08080;
}
#beijing8{margin-top: 50px;}
#kuai1{position: absolute;
	background-color: #F08080; 
	width: 400px;height: 500px;
	padding:100px 50px 0 50px;text-align: center;
	color: white;font-size: 30px;font-weight: lighter;
}
#kuai1>p>a{text-decoration: none;color: white;
	border: 1px solid white;
	padding:10px 30px 10px 30px;
	height: 600px;
}
#kuai2{position: relative;
	left: 0;
	position: absolute;
	background-color: white; 
	width: 400px;height: 500px;margin-left: 500px;
	padding:100px 50px 0 50px;text-align: center;
	color: black;font-size: 30px;font-weight: lighter;
}
#kuai2>p>a{text-decoration: none;color: #F08080;
	border: 1px solid  #F08080;
	padding:10px 30px 10px 30px;
	height: 600px;
}
#kuai3{position: relative;left: 1000px;width: 200px;}
#beijing9{width: 1400px;
	text-align: center; color: #999;
}
#beijing9>p{font-size: 30px;color: black;}
#biaodan1{padding-left: 100px;}
#beijing10{	font-size: 15px;color: #999;height: 400px;}
#biaodan1{position: absolute;}
#biaodan1>div>p>b{font-size: 18px;color: black;}
#biaodan1>div>p>a{font-weight:lighter;text-decoration: none;}
#biaodan2{position: relative;left: 600px;
	width:800px;
	padding-top: 30px;
}
.shurukuang{ display: inline-block;
	height: 25px; width: 300px;background-color:	#DCDCDC;
	border-style: none; border-radius: 5px;
	padding:10px; color: white;
}
#shurukuang{display: inline-block;
	height: 150px; width: 690px;background-color:	#DCDCDC;
	border-style: none;border-radius: 5px;
	padding:10px;color: white;
}
#anniu{
	display: inline-block;
	height: 45px; width: 710px;background-color:	#DCDCDC;
	border-style: none;border-radius: 5px;
	padding:10px;color: white;
}
#beijing11{margin-top: 200px;
	padding-top: 100px;height: 300px;
	background-color: #424c50;color: white;
	text-align: center;
	font-weight: lighter;
}
#beijing11>p>b{font-size: 20px;}
#beijing12{height: 40px; padding:10px 30px 10px 70px;
	background-color: black;color: white;
	font-weight: lighter;
}
#beijing12>p{float: left; padding-bottom: 5px;}
#beijing12>a{float: right;padding-top: 15px;
text-decoration: none;color: white;}